@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rancho&family=Smooch+Sans:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Nunito";
}

body {
    position: relative;
}

.hero-div {
    height: 600px;
     background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(images/header_1.jpg);
    /* background-image: url(images/header_1.jpg); */
    background-size: 100% 100%;
}

nav {
    width: 100%;
    padding: 0px 100px;
    position: fixed;
    top: 10px;


}

.logo-div {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 20px;
}

.logo {
    background-color: black;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    color: white;
    padding: 5px 10px;
}

.freya-logo {
    display: flex;
    justify-content: space-between;
}

.freya-logo button {
    border: none;
    background-color: transparent;
    display: none;
}

.first li {
    width: 100px;
    display: inline-block;
    padding: 5px 10px;
}

.first li a {
    text-decoration: none;
    color: rgb(142, 139, 139);
    /* font-family: "Nunito", sans-serif; */
}

.sec {
    margin-left: auto;
}

.sec li {
    width: 50px;
    display: inline-block;
    padding: 5px 10px;
}

.hero-div {
    padding: 100px 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;


}
.hero-content h1{
     font-size: 3em;
}
.hero-content h2{
     font-size: 1.5em;
}

.hero-div .hero-btn button {
    /* font-family: "Poppins", sans-serif; */
    background: transparent;
    padding: 10px;
    width: 200px;
    color: white;
    border: 2px solid white;
    letter-spacing: 2px;
    font-weight: bolder;

}

.hero-div .hero-btn button:hover {
   
    background-color: white;
    color: black;
    padding: 10px;
     border: 2px solid white;
    font-weight: bolder;

}

.about{
    padding: 100px;
    text-align: center;
   
}
.about-head{
     line-height:50px;
}
.sub-head{
      font-size: 2.5em;
      font-weight: 100;
}
.about .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.about .row p{
    padding: 10px;
    text-align: justify;
}